<form action="/add" method="POST">
    <p>Título:</p>
    <input type="text" name="titulo">
    <p>Conteúdo:</p>
    <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
    <br><br>
    <button type="submit">Cadastrar postagem</button>
</form>

{{!-- 
Metodo GET: envia os dados pela URL - não é muito seguro;
Metodo POST: envia os dados de outra forma (ainda a saber);
--}}